__pycache__
.mypy_cache
*.env
_archive
.vscode
app
app/
Dockerfile
lyrics/*
commands.txt
prepare_game.py
requirements.txt
resources
Makefile
lyrics_translator/spotify_api.py
TODO.md
poetry.lock

.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/


static
site